<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--title bar-->
    <title>Ishan Jogalekar Github Page</title>
    <!--title icon-->
    <link rel = "icon" href ="https://img.icons8.com/color/48/000000/github.png" type = "image/x-icon">

    <!--style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/page.css}">

</head>
<body>
<center>
<a href="https://github.com/ishanjogalekar" target="_blank"><button class="top"><i class="fa fa-github">&nbsp More Info </i> </button> </a>
</center>
</body>
</html>